= semantic_form_for [:admin, @unit] do |f|
  = f.inputs do
    -[:uid, :name, :description, :movement_speed, :health_points, :production_time, :price, :score_price, :blockable_by].each do |name|
      = f.input name
  = f.inputs do
    -[:attack_speed, :attack_power, :attack_range, :distance_attack].each do |name|
      = f.input name

  = f.inputs do
    - building_uids = Building.all.pluck(:uid).uniq
    = f.input :depends_on_building_uid, :as => :select, :collection => building_uids

    = f.input :depends_on_building_level, :as => :select, :collection  => (1...5).each { |i|  }, :include_blank => false


  = f.actions