%form{:action => admin_game_settings_update_path, :method => :post}
  %input{:name => 'authenticity_token', :type => :hidden, :value => form_authenticity_token.to_s}

  %h2 Coins

  %fieldset
    %legend Coin generator building:
    %select#buiding-uid{:name => :coin_generator_uid}
      -Building.select(:uid).uniq.each do |building|
        -selected = settings[:coin_generator_uid][:value] == building.uid
        %option{:value => building.uid, :selected => selected}=building.uid

  %fieldset
    %table
      %thead
        %th level
        %th amount per second
        %th harvester capacity
      -settings[:coins_generation_per_level][:value].each_with_index do |value, index|
        %tr
          %td="##{index}"
          %td
            %input{:name => :"coins_generation_per_level[][amount]", :value => value['amount']}
          %td
            %input{:name => :"coins_generation_per_level[][harvest_capacity]", :value => value['harvest_capacity']}

  %fieldset
    %legend Storage building:
    %select#buiding-uid{:name => :storage_building_uid}
      -Building.select(:uid).uniq.each do |building|
        -selected = settings[:storage_building_uid][:value] == building.uid
        %option{:value => building.uid, :selected => selected}=building.uid

  %fieldset
    %table
      %thead
        %th level
        %th storage capacity
      -settings[:storage_capacity_per_level][:value].each_with_index do |value, index|
        %tr
          %td="##{index}"
          %td
            %input{:name => :"storage_capacity_per_level[][amount]", :value => value['amount']}

  %h2 Mana

  %fieldset
    %table
      %thead
        %th level
        %th amount per second@shard
        %th amount per second@battle
        %th capacity
      -settings[:mana_settings_per_level][:value].each_with_index do |value, index|
        %tr
          %td="##{index}"
          %td
            %input{:name => :"mana_settings_per_level[][amount_at_shard]", :value => value['amount_at_shard']}
          %td
            %input{:name => :"mana_settings_per_level[][amount_at_battle]", :value => value['amount_at_battle']}
          %td
            %input{:name => :"mana_settings_per_level[][capacity]", :value => value['capacity']}

  %h2 Score

  %fieldset
    %table
      %thead
        %th level
        %th level at score
        %th static reward
      -settings[:player_settings_per_level][:value].each_with_index do |value, index|
        %tr
          %td="##{index}"
          %td
            %input{:name => :"player_settings_per_level[][level_at]", :value => value['level_at']}
          %td
            %input{:name => :"player_settings_per_level[][static_reward]", :value => value['static_reward']}



  %h3 Fast battle
  %fieldset
    %table
      %thead
        %th score score_price
        %th time period
        %tr
          -settings[:fast_battle][:value].each do |key, value|
            %td
              %input{:name => :"fast_battle[][#{key}]", :value => value}


  %input{:type => :submit, :value => 'save'}
