= semantic_form_for [:admin, @spell] do |f|

  = f.inputs "UID" do
    - spells_collection = @spell.new_record? ? Spell.not_configured_uids : Spell.uids
    = f.input :uid, :as => :select, :collection => spells_collection

  = f.inputs "Settings" do
    - [:description, :mana_cost, :name, :area, :time, :client_description].each do |field|
      = f.input field


  = f.inputs "Payload" do

    = f.input :opts_description

    - [:slot_a, :slot_b, :slot_c, :slot_d].each do |field|
      = f.input field

  = f.actions