= semantic_form_for [:admin, @building] do |f|
  = f.inputs do
    -[:uid, :name, :description, :production_time, :price].each do |type|
      = f.input type
    = f.input :level, :as => :select, :collection => (1...20).each { |i|  }, :include_blank => false
  = f.actions